<h1>Welcome to Entomology Central</h1>
<p><em>Where we love our insects!</em></p>
</br>
<p>Where would you like to go?</p>
<ul>
  <li><a href="/researchers">Check out the (Rockstars) Researchers</a></li>
  <li><a href="/insects">Check out the subjects</a></li>
  <li><a href="/locations">See where they've been</a></li>
  <li><a href="http://www.starcitycodeschool.com"target="_blank">Go get a real job!</a></li>
</li>
