<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |m| %>
    <p>Error: <%= m %></p>
  <% end %>
<% end %>

<h1>New Location</h1>

<form action="/locations" method="post">
  Where:<input type="text" name="name"></br>
  <input type="submit" value="New Location!">
</form>

</br>
<p><a href="/">Back Main Menu</a></p>
